{% extends 'mysite/base.html' %}
{% load static %}
{% block content %}
    <section id="text1">
        <div class="container  p-3 my-3 bg-dark text-white">
            <h5>About this website</h5>
            <p>During the coronavirus pandemic, I have started picking programming and IT stuff. For I have been working as a chec-in agent at the airport. Flights have drastically reduced. I made good use of this time to learn something new.</p>

        </div>

    </section>

{% endblock %}